@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500&family=Roboto+Mono:wght@700&family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding-bottom: 25px;
}

header {
  font-size: 2.25em;
  margin: 5px;
  text-align: center;
  font-weight: 600;
}

hr {
  outline: none;
  border: none;
  border-bottom: 3px solid orange;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: 300;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2.5em;
}

.word {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  margin: 15px;
}

.input-text {
  padding: 4px 10px;
  font-size: 1.5em;
  margin-top: 30px;
  outline: none;
  border: 1.65px solid black;
  transition: 0.2s ease-in-out;
}

.input-text:focus {
  border-color: orange;
  border-radius: 4px;
}

.btns {
  display: flex;
  justify-content: center;
}

button {
  margin: 25px;
  outline: none;
  cursor: pointer;
  font-size: 1.25em;
  padding: 8px 25px;
}

.submit {
  background-color: white;
  border: 3px solid rgb(238, 155, 2);
  transition: 0.2s ease;
}

.submit:hover {
  background: rgb(238, 155, 2);
  color: white;
}

.reset {
  background: white;
  border: 3px solid black;
}

button:active {
  transform: translateY(2px);
}

.judgement {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: green;
  margin-top: 40px;
  visibility: hidden;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #f5f5f5;
  background-color: black;
  padding: 10px 0px;
  font-size: min(2vw, 15px);
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}
