* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #222831;
  margin: 0;
  padding: 0;
  display: block;
}

.App > header {
  background-color: #00adb5;
  width: 100%;
  height: 200px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App > header > h1,
.App > header > h3 {
  color: #393e46;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.link-header,
.link-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  color: #eeeeee;
  justify-items: center;
  padding: 15px;
  text-align: center;
}

.link-header {
  font-size: 1em;
  font-weight: medium;
  text-transform: uppercase;
  border-bottom: 3px solid #eeeeee;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #5772cd;
}

a:hover {
  text-shadow: 1px 1px 1px #566596;
}

.no-link {
  color: #797575;
  cursor: not-allowed;
}

.App > footer {
  background-color: #101213;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App > footer > h3 {
  color: #eeeeee;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon {
  color: #5772cd;
}
