@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Open+Sans:wght@300;500&family=Poppins:wght@200;300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #161853;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.container {
  margin: 25px 150px;
  border: solid;
  background-color: #faedf0;
  padding: 15px;
  border-radius: 5px;
}

hr {
  background-color: black;
  height: 1px;
  border: none;
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  float: left;
  width: 300px;
}

.dropdown {
  font-size: 18px;
  padding: 3px;
  border-radius: 5px;
}

.checkbox {
  height: 20px;
  width: 20px;
  text-align: center;
  margin-left: 12px;
}

.examples {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.password {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 15px;
  width: fit-content;
  margin: auto;
  border: solid;
  background-color: #5584ac;
  border-radius: 3px;
  margin-top: 50px;
  min-width: 20px;
  min-height: 61px;
}

.copy {
  /* float: right; */
  background: transparent;
  border: none;
  font-size: larger;
}

.generatepassword {
  text-align: center;
  margin-top: 40px;
}

.generatepasswordbtn {
  font-size: 3vh;
  padding: 3px;
  border-radius: 3px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #f5f5f5;
  background-color: black;
  padding: 10px;
  font-size: 15px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

@media only screen and (max-width: 680px) {
  body {
    background-color: #faedf0;
  }
  .container {
    margin: 0px;
    background-color: inherit;
    border: none;
  }
  .footer{
      font-size: 7px;
  }
  .copy{
      float: left;
  }
}

@media only screen and (max-width: 550px) {
  .examples {
    display: none;
  }
}
